<h1>Angular is up and running</h1>

<button (click)="getData()" >refresh</button><p [hidden]="!isLoading">Loading...</p>

<button (click)="selectAll()" >select all</button>
<button (click)="removeItems()">delete selected</button>
<p>{{people?.length}} items found</p> <!-- Elivs operator, because people is undefined before initial data load -->

<div *ngFor="#person of people">
    <input [(ngModel)]="person.IsSelected" type="checkbox" />
    {{person.DateOfBirth | date:'yyyy-MM-dd HH:mm'}}
    {{person.FirstName}}
    {{person.LastName}}
    <button (click)="showDetails(person)">select</button>
</div>

<div id="details">
    <input type="text" [(ngModel)]="selectedPerson.LastName" />

    <input type="text" [(ngModel)]="selectedPerson.LastName" />

    <!--<input type="date" [(ngModel)]="selectedPerson.DateOfBirth" />-->
</div>


